.form-product-page {
   --bg-card: #27272a;
   --primary: #6d28d9;
   --primary-800: #4c1d95;
   --primary-shadow: #2e1065;
   --light: #d9d9d9;
   --zinc-800: #18181b;
   --bg-linear: linear-gradient(0deg, var(--primary) 50%, var(--light) 125%);
   position: relative;

   display: flex;
   flex-direction: column;
   gap: 0.75rem;
   align-items: stretch;

   white-space: nowrap;
   /* overflow: hidden; */
   overflow-y: auto;

   /* padding: 1rem; */
   width: 100%;
   background-color: var(--bg-card);

   border-radius: 12px;
   height: 100%;
}

.select-bag-product-page {
   margin: 5px 5px 0px 5px;
   background: #213547;
   border-radius: 10px 10px 0px 0px;
   padding: 5px 10px;
}
.select-mol-product-page {
   margin: -6px 5px 0px 5px;
   background: #213547;
   border-radius: 0px 0px 0px 0px;
   padding: 5px 10px 10px 10px;
   position: relative;
}

.select-cant-product-page {
   margin: -6px 5px 0px 5px;
   background: #213547;
   border-radius: 0px 0px 0px 0px;
   padding: 5px 10px;
   position: relative;
}

.disabled-cape {
   position: absolute;
   top: 0;
   bottom: 0;
   left: 0;
   right: 0;
   display: none;

   background: rgba(255, 255, 255, 0.2);
}

.select-mol-product-page.disabled > .disabled-cape, .select-cant-product-page.disabled > .disabled-cape {
   display: block;
}

.total-product-page {
   margin: -6px 5px 5px 5px;
   background: #213547;
   border-radius: 0px 0px 10px 10px;
   padding: 10px 10px;
}

.title {
   /* overflow: clip; */

   width: 100%;

   font-size: 1rem;
   font-weight: 600;
   color: var(--light);
   text-transform: capitalize;
   text-wrap: nowrap;
   text-overflow: ellipsis;
   /* margin: 10px 0px 0px 20px; */
}

.size {
   font-size: 0.75rem;
   color: var(--light);
}

.list-size {
   display: flex;
   align-items: center;
   gap: 0.25rem;
   /* margin-left: -10px; */
   /* margin-top: 1rem; */
   margin: 4px 0px 0px -40px;
   flex-wrap: wrap;
}

.list-size .item-list {
   /* list-style: none; */
   list-style: none;
}

.list-size .item-list-button {
   cursor: pointer;

   padding: 0.5rem;
   background-color: var(--zinc-800);

   font-size: 0.75rem;
   color: var(--light);

   border: 2px solid var(--zinc-800);
   border-radius: 0.25rem;

   transition: all 0.3s ease-in-out;
}

.item-list-button:hover {
   border: 2px solid var(--light);
}

.item-list-button.button-checked {
   background-color: var(--primary);

   border: 2px solid var(--primary-shadow);

   box-shadow: inset 0px 1px 4px var(--primary-shadow);
}

.action {
   display: flex;
   align-items: center;
   gap: 1rem;
}

.price {
   margin-left: 20px;
   font-size: 1.3rem;
   font-weight: 700;
   color: var(--light);
}

.cart-button {
   cursor: pointer;

   display: flex;
   justify-content: center;
   align-items: center;
   gap: 0.25rem;

   padding: 0.5rem;
   width: 100%;
   background-image: var(--bg-linear);

   font-size: 0.75rem;
   font-weight: 500;
   color: var(--light);
   text-wrap: nowrap;

   border: 2px solid hsla(262, 83%, 58%, 0.5);
   border-radius: 0.5rem;
   box-shadow: inset 0 0 0.25rem 1px var(--light);
}

.select-cant {
   width: 100%;
   display: flex;
   justify-content: start;
   margin: 5px 0px;
}

.add-button {
   padding: 3px 5px;
   width: 1.8rem;
   height: 2rem;
   cursor: pointer;

   background: green;
   border: 1px solid green;
   border-radius: 0px 4px 4px 0px;
}
.minus-button {
   padding: 3px 5px;
   width: 1.8rem;
   height: 2rem;
   cursor: pointer;

   background: red;
   border: 1px solid red;
   border-radius: 4px 0px 0px 4px;
}
.minus-button:disabled {
   color: #27272a;

   background: rgb(135, 13, 13);
   border: 1px solid rgb(135, 13, 13);
   border-radius: 4px 0px 0px 4px;
}
.show-button {
   padding: 3px 5px;
   width: 2rem;
   height: 2rem;
   cursor: pointer;

   background: gray;
   color: black;
   border: 1px solid gray;
}
